.display-1{
    text-align: center;
}

#tab-holder {
    margin: 0px;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 1000px;
    background-color: #ECEFF1;
    
}

#tab-content {

    position: relative;
    margin: 15px;
    left: 30%;
    top: 10%;
    display: inline-block;
    
}