<h2>Регистрация</h2>
<div class="form-group">
    <label for="tb-username-reg">Потребителско име: </label>
    <input id="tb-username-reg" class="form-control">
</div>
<div class="form-group">
    <label for="tb-password-reg">Парола: </label>
    <input id="tb-password-reg" class="form-control" type="password">
</div>
<div class="form-group">
    <label for="tb-password2">Потвърдете паролата: </label>
    <input id="tb-password2" class="form-control" type="password">
</div>
<button type="button" class="btn btn-warning" id="register-button">Регистрация</button>
<a href="#/login">Вход</a>


